<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAYMENT API</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <!-- <div class="link"><a href="https://github.com/Abdussalam-Mujeeb-ur-rahman/shop-api">GITHUB</a><a href="https://documenter.getpostman.com/view/23410424/2s935pr4Yn">POSTMAN</a></div>
        </div> -->
      <nav>Payment API</nav>
      <div class="part">
        <div>
          <h1>Pay with your debit cards</h1>
          <div class="link">
            <a href="https://github.com/Abdussalam-Mujeeb-ur-rahman/shop-api"
              >Github</a
            ><a href="https://documenter.getpostman.com/view/23410424/2s935pr4Yn"
              >Postman</a
            >
          </div>
        </div>
        <div>
          <div class="shadow-circle">
            <img src="cards.png" alt="cards" class="image">
          </div>
        </div>
      </div>
      <div class="part-b">
        <h3>
          The API provides a seamless and secure way for users to pay for goods and services using their debit cards. It supports both local and international cards, making it easy for businesses to accept payments from customers globally.
        </h3>
        <p>
          The API leverages Flutterwave's Direct Card Charge feature to process payments. This feature allows businesses to charge both local and international cards. This is particularly useful for businesses whose customers predominantly use credit/debit cards and prefer to manage payments via the business's app.
        </p>
      </div>
      <hr>
      <footer>
        all rights served.
      </footer>
    </main>
  </body>
</html>
